@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Quattrocento+Sans&family=Roboto&family=Raleway&display=swap');

html {
  overflow-y: scroll;
}

body {
	background: #000000;
	color: white;
	margin: 0;
}

.pageContainer {
  width: 100%;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	min-height: 100%;
}

.wrapper {
	margin: 0 auto;
	max-width: 960px;
	background-color: #101010;
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 200px;
}

.flex {
	display: flex;
	justify-content: center;
}

.preamble {
	padding-top: 20px;
	padding-left: 30px;
	margin-bottom: 18px;
}

h2 {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
	font-size: 30px;
	line-height: 50px;
	font-weight: inherit;
}

h1 {
	display: inherit;
	font-size: inherit;
	margin-block-start: inherit;
	margin-block-end: inherit;
	font-weight: inherit;
}

.sitemap {
	position: relative;
	bottom: -9px;
	display: flex;
	justify-content: space-between;
	width: 30%;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 14px;
}

.footer {
	position: absolute;
	height: 2.2rem;
	background-color: #302f2f;
	left: 0;
	bottom: 0;
	width: 100%;
	box-shadow: 0 -4px 7px rgba(0, 0, 0, 0.5);
}

.footerwrapper {
	margin: 0 auto;
	width: 900px;
	display: flex;
	justify-content: space-between;
}

.footertext {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 14px;
	color: white;
	position: relative;
	bottom: -0.7rem;
}

.startpage {
	background:#000000;
}

.startpagepicture {
	min-height: 518px;
	background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.49) 17.71%, rgba(0, 0, 0, 0) 48.44%, rgba(0, 0, 0, 0.41) 75%), #7C52B0;
	background-blend-mode: color-burn, normal, normal;
	border-radius: 2px;
}

.font-normal {
	font-style: normal;
	font-weight: normal;
}
/* SLIDESHOW */
.each-slide > div {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 150px;
	padding-top: 50px;
  }

  .each-slide span {
	padding: 20px;
	font-size: 20px;
	text-align: center;
  }
  /* ARROWS */
  .react-slideshow-container .default-nav{
	  opacity: 10%;
  }

/* ABOUT */

.breadText {
	font-size: 19px;
	font-family: 'Quattrocento Sans', sans-serif;
	text-align: left;
	line-height: 24px;
	margin-bottom: 10px;
	padding: 20px;
	text-align: justify;
	text-justify: auto;
}

.bigger {
	line-height: 30px;
	font-size: 26px;
}

.smaller {
	font-size: 18px;
	color: #DFDFDF;
}

.kunskap {
	font-size: 30px;
	font-style: italic;
	line-height: 150%;
}

.names {
	font-size: 30px;
}


/* NAV */

.titel {
	font-family: 'Roboto', sans-serif;
  font-size: 30px;
	color: #FFFFFF;
	text-align: left;
	padding-left: 16px;
	margin-top: 1rem;
	min-width: 420px;
}

.titel:hover {
	color: #dfdfdf;
}

.nav-bar {
	background: #252525;
  height: 76px;
  margin-bottom: 3rem;
}

.navwrapper {
  margin: 0 auto;
  width: 960px;
  padding-top: 0.6rem;
  display: flex;
	justify-content: flex-start;
  align-content: flex-start;
  font-family: 'Abhaya Libre', serif;
	font-size: 24px;
	align-items: center;
  color: #FFFFFF;
}

.box-effect {
	width: 150px;
	box-shadow: 2px 2px #1D1D1D, 3px 3px #1D1D1D, 4px 4px #1D1D1D;
	text-align: center;
}

.box-effect:hover {
	transition: all 0.2s linear;
	box-shadow: 0px 0px 2px 0px #1D1D1D, 1px 1px #1D1D1D, 2px 2px #1D1D1D;
	-webkit-transform: translateY(-2px);
	transform: translateY(-2px);
	-webkit-transform: translateX(2px);
	transform: translateX(2px);
}

.flex-evenly {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

span {
	height: 100%;
}

p {
	padding-top: 14px;
	padding-bottom: 14px;
	margin: 0;
}

a:link,
a:visited,
a:active {
	text-decoration: none;
	color: #FFFFFF;
}

a:hover {
	color: #dfdfdf;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	justify-content: center;
}

.left {
	position: sticky;
	margin-left: 18%;
	padding-bottom: 0px;
	font-family: 'Quattrocento Sans', sans-serif;
}

ul {
	list-style-type: none;
	padding: 0;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 22px;
	line-height: 30px;
	margin-top: -40px;
}

.pt {
	padding-top: 80px;
}

li {
	margin-top: 50px;
	clear: both;
}

.bottomfill {
	padding-bottom: 80px;
}

.tooltip {
	font-size: 20px;
	text-decoration: underline dotted white !important;
	margin-right: 30px;
}

.tooltip:hover .tooltipimage {
	text-decoration: underline dotted white;
	visibility: visible;
	opacity: 1;
}

.tooltip .tooltipimage {
	visibility: hidden;
	width: 600px;
	border-radius: 6px;
	position: absolute;
	left: -50%;
	top: 20%;
	z-index: 1;
	opacity: 0;
	transition: 0.8s;
}


/* Kontakt */

.contactBox {
	width: auto;
	border-radius: 45px;
	background-color: #252525;
}

.contactRightText {
	font-size: 24px;
	font-family: 'Quattrocento Sans', sans-serif;
	text-align: center;
	margin-top: 20px;
	padding-bottom: 40px;
}

.contactWrapper {
	display: flex;
	font-size: 30px;
	text-align: center;
}

.contactLeft {
	/*background-color: #f1f1f1; */
	padding: 50px;
	flex: 50%;
}

.contactLeftText {
	font-size: 20px;
	margin-bottom: 30px;
	font-family: 'Quattrocento Sans', sans-serif;
}

.contactLeftLinkedText {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 26px;
	padding-top: 40px;
	margin-bottom: 20px;
	font-style: italic;
}

.contactLeftHeader {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 44px;
	padding-top: 30px;
	padding-bottom: 50px;
}

.contactRightHeader {
	padding-top: 30px;
	padding-bottom: 30px;
}

.contactRight {
	/*background-color: dodgerblue; */
	padding: 50px;
	flex: 50%;
}

.contactLink:hover {
	font-size: 110%;
}

/* Animation startsida */

.Iam {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 44px;
    color: #FFFFFF;
    padding-left: 300px;
    padding-top: 200px;
  }
.Iam p {
    float: left;
    margin-right: 0.3em;
  }
.Iam .scrolling {
    float: left;
    overflow: hidden;
    position: relative;
    height: 50px;
    top: 18px;
  }
.Iam .innerIam {
    display: inline-block;
    color: #FFFFFF;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
  -webkit-animation:move 7.5s;
     -moz-animation:move 7.5s;
      -ms-animation:move 7.5s;
       -o-animation:move 7.5s;
          animation:move 7.5s;
  -webkit-animation-iteration-count:infinite;
     -moz-animation-iteration-count:infinite;
      -ms-animation-iteration-count:infinite;
       -o-animation-iteration-count:infinite;
          animation-iteration-count:infinite;
  -webkit-animation-delay:1s;
     -moz-animation-delay:1s;
      -ms-animation-delay:1s;
       -o-animation-delay:1s;
          animation-delay:1s;
  }
  @keyframes move{
  0%  { top: 0px; }
  15% { top: -48px; }
  30% { top: -96px; }
  45% { top: -146px; }
  60% { top: -194px; }
  75% { top: -242px; }
  }
  @-webkit-keyframes move {
    0%  { top: 0px; }
    15% { top: -48px; }
    30% { top: -96px; }
    45% { top: -146px; }
    60% { top: -194px; }
    75% { top: -242px; }
  }
  @-moz-keyframes move {
    0%  { top: 0px; }
    15% { top: -48px; }
    30% { top: -96px; }
    45% { top: -146px; }
    60% { top: -194px; }
    75% { top: -242px; }
  }
  @-o-keyframes move {
    0%  { top: 0px; }
    15% { top: -48px; }
    30% { top: -96px; }
    45% { top: -146px; }
    60% { top: -194px; }
    75% { top: -242px; }
  }
  @keyframes move {
    0%  { top: 0px; }
    15% { top: -48px; }
    30% { top: -96px; }
    45% { top: -146px; }
    60% { top: -194px; }
    75% { top: -242px; }
  }


/* Media Queries 480px */
@media only screen and (max-width: 480px) 
{
  .wrapper {
    margin: 0 auto;
    max-width: 480px;
  }

  /* Startpage animation in 480px */
  .Iam {
    font-size: 34px;
    padding-left: 50px;
  }
  .Iam .scrolling {
    height: 35px;
    top: 13px;
  }

  @keyframes move{
      0%  { top: 0px; }
      15% { top: -34px; }
      30% { top: -72px; }
      45% { top: -112px; }
      60% { top: -148px; }
      75% { top: -190px; }
    }
    @-webkit-keyframes move {
      0%  { top: 0px; }
      15% { top: -34px; }
      30% { top: -72px; }
      45% { top: -112px; }
      60% { top: -148px; }
      75% { top: -190px; }
    }
    @-moz-keyframes move {
      0%  { top: 0px; }
      15% { top: -34px; }
      30% { top: -72px; }
      45% { top: -112px; }
      60% { top: -148px; }
      75% { top: -190px; }
    }
    @-o-keyframes move {
      0%  { top: 0px; }
      15% { top: -34px; }
      30% { top: -72px; }
      45% { top: -112px; }
      60% { top: -148px; }
      75% { top: -190px; }
    }
    @keyframes move {
      0%  { top: 0px; }
      15% { top: -34px; }
      30% { top: -72px; }
      45% { top: -112px; }
      60% { top: -148px; }
      75% { top: -190px; }
    }

  /* Works in 480px */
  .tooltip {
    font-size: 16px;
    margin-right: 20px;
    padding-left: 10px;
  }
  .v2 {
    font-size: 18px;
  }

  /* Contact in 480px */
  .contactBox{
    top: 150px;
    left: 14%;
  }

}